CREATE TABLE IF NOT EXISTS public.contact_messages ( id UUID PRIMARY KEY DEFAULT uuid_generate_v4(), sender_email TEXT NOT NULL, first_name TEXT, last_name TEXT, message TEXT, created_at TIMESTAMPTZ NOT NULL DEFAULT NOW() );
